.azul h1 > a{
    color: #333;
}
.post-info{
    color: #999;
    font-size: .9rem;
}

.pagination{
    height: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.pagination .previous{
    float: left;
}

.pagination .page_number{
    left: 50%;
    width: 100px;
    margin-left: -50px;
    position: absolute;
    text-align: center;
}

.pagination .next{
    float: right;
}