---
layout: default
title: Notes
---

<section class="archive">
    {% assign sorted_posts = (site.categories.notes| sort: 'category') %}
    {% for post in  sorted_posts } %}
    {% assign current_cate = (post.categories[1]) %}
    {% unless post.next %}

    {% unless forloop.first %}</div></div>{% endunless %}

    <div class="bundle row gutters fadeInDown animated">
        <h2 class="post-year col span_2">{{ current_cate }}</h2>
        <div class="posts-by-year col span_10">

            {% else %}
            {% assign next_cate = (post.next.categories[1]) %}
            {% if current_cate != next_cate %}

            {% unless forloop.first %}</div></div>{% endunless %}

        <div class="bundle row gutters fadeInDown animated">
            <h2 class="post-year col span_2">{{ current_cate }}</h2>
            <div class="posts-by-year col span_10">
                {% endif %}
                {% endunless %}

                <article class="row gutters">
                    <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
                    <div class="post-date col span_4">
                        <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%Y-%m-%d' }}</time>
                    </div>
                </article>

                {% if forloop.last %}</div></div>{% endif %}


        {% endfor %}
</section>
