---
layout: default
---
<link rel="stylesheet" href="/public/css/post.css">

<article class="single row gutters">
  <div class="post-info">
    <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time>
    /
    <span>{% for cat in page.categories %}
      <a href="/categories/#{{ cat }}">{{ cat }}</a>
      {% endfor %}</span>
  </div>
  <h2>{{ page.title }}</h2>
  <div>
    {{ page.content | markdownify }}
  </div>
  <span class="tags">
    Tags: {% for tag in page.tags %}
     <a href="/tags/#{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
</article>

<hr />

 {% include disqus_comment.html  %}
